
          <div class="ct-page-content">
            
            <h2 class="h1 ct-liner-half">Biography</h2>
            <p></p><div class="trix-content">
  <div>Fueled by a passion for online marketing and digital growth, Dice Media Group was founded by a team of experienced copywriters, graphic design artists, web developers, and SEO strategists. Our solutions go far beyond the exchange of money and services; we offer a true-<em>ROI</em>-value service that makes long-term growth easier to achieve for clients. From strategic content creation and implementation to advanced <em>SEO</em>-management services, Dice Media Group brings concepts to life and goals to fruition, and we’re here each step along the way.<br><br>
</div><div>
<strong>The Dice Media Difference<br></strong><br>
</div><div>Dice Media Group is a full-service marketing agency specializing in SEO and digital marketing. Setting us apart from the rest, our suite of services also includes website development, content writing, and app development services.<br><br>
</div><div>
<strong>Innovative Digital Marketing<br></strong><br>
</div><div>Our result-driven team creates marketing strategies unique to client projects and goals. Websites we develop or optimize are overseen by field-specific experts whose goals are to bring clients traffic, conversions, and continued growth. Combined with SEO, keyword research, and stellar content that will compel reader actions, our clients enjoy the fruits of effective digital marketing while we oversee the hard-work steps that make such success possible.<br><br>
</div><div>
<strong>Our Philosophy<br></strong><br>
</div><div>We believe meaningful partnerships start with offering true-value service.&nbsp; Dice Media thrives on the success of clients as it allows us to foster meaningful, long-lasting client relations; we treat the ideas and businesses of clients as our own. A marketing agency by day and creative lab by night; Dice Media Group gives wings to your ideas and creates beautiful websites geared for sales, rankings, and results.<br><br>
</div><div>
<strong>Design &amp; Optimization<br></strong><br>
</div><div>From concept creation to design, from optimization to publishing, no detail is overlooked. At Dice Media Group, clients receive well-designed sites featuring content readers will love to read. Plus, our thoughtfully-designed E-com stores produce above-average conversions thanks to strategic on-site product placement and ‘call to actions’ that compel visitor purchases.&nbsp; Combined with performance-based SEO, our clients can see results not taking months or years to achieve.<br><br>
</div><div>
<strong>SEO &amp; Marketing<br></strong><br>
</div><div>Our personalized, Google-compliant SEO service delivers long term ranking potential for sustainable organic rankings. Unlike competing solutions that use unsafe link-building protocols, which violate Google’s TOS and can lead to site penalties; we only build ethically-sourced links from safe, high-authority sources that Google loves. Long-term, digital marketing success relies on a strong search engine presence, which is why our ranking approach uses the safest methods.<br><br>
</div><div>
<br><br>
</div>
</div>
<p></p>
          </div>

          <div class="ct-page-content" id="gvpg-media-appearances">
            <h3 class="h1 ct-liner-half">Recent Press</h3>            
            

          </div>
          <div class="ct-page-content" id="gvpg-media-downloads">
            <h3 class="h1 ct-liner-half">Headshots &amp; Photos</h3>
            

            <div class="form-group col-md-6">
    <div class="ct-article-unit-thumb">
            <img class="img-full-responsive" title="pose: blog photo" src="https://www.dicemediagroup.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBVUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c32179ef1611684aa9ab83c1f7837b346d363ccc/meagaincropforwebsite.jpg">

    </div>
    <div class="ct-articleunit">
        <div class="h4 ct-h-slab-caps ct-presskit-cta">
        Download
        </div>
        <ul class="ct-presskit-list">
        <li>
            <a class="link-blue link-bold" download="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBVUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c32179ef1611684aa9ab83c1f7837b346d363ccc/meagaincropforwebsite.jpg" href="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBVUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c32179ef1611684aa9ab83c1f7837b346d363ccc/meagaincropforwebsite.jpg">
                1300×867    
</a>        </li>
        </ul>
    </div>
</div>
          </div>
        