    <div class="past-event-card">
        <div class="past-event-date">
            <h4><em class="animated">November 16, 2021</em></h4>
        </div>

        <!-- add code to show youtube video here -->

        <lite-youtube videoid="<%= past_event.youtube_unique_id %>" playlabel="Play: Keynote (Google I/O '18)"></lite-youtube>
        <div class="past-event-title">
            <h3><%= past_event.title %></h3>
            <h6><%= past_event.place %></h6>
        </div>
    </div>


