<div class  = "event"
    style   ="          
    ">
    <h4 class="event-date"><%= upcoming_event.happening_on_date %></h4>
        <h3 class="event-title"><%= upcoming_event.title %></h3>
        <div class="event-location"><%= upcoming_event.place %></div>
        <%= link_to "Info", 
            upcoming_event.more_info_link, target: "_blank",
            class: "event-info-button bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
</div>
