    <!--IMAGE-->
    <% article.cover_photo.present? ? image_url = url_for(article.cover_photo)  : image_url = (asset_path 'image_not_found.jpg')  %>
    <div class="slider__item__image is-background">
        <%= image_tag image_url %>        
    </div>
    <!--IMAGE-->

    <!--TEXT-->
    <div class="slider__item__text">
        <span>Michael Tanner</span>
        <h1><%= article.title %></h1>
        
        <p>
            <%= article.excerpt %>
        </p>
        
        <%= link_to "Read Article ➡", article, role: "button" %>
    </div>
    <!--TEXT-->
