<div class="bg-white rounded-lg overflow-hidden shadow-lg">
<a href="#">
  <img src="https://source.unsplash.com/random" 
       alt="Article image" 
       class="w-full h-48 object-cover">
</a>
<div class="p-4">
  <div class="mb-2 max-w-full">
    <a href="#" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Category 1</a>
    <a href="#" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Category 2</a>
    <a href="#" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Category 3</a>
    <a href="#" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Category 4</a>
    <a href="#" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Category 5</a>
  </div>
  <div class="relative">
    <div class="absolute inset-0 z-10">
      <a href="http://google.com" class="block w-full h-full"></a>
    </div>
    <h2 class="text-xl font-semibold mb-2 ">
      <a href="#" class="black-text-link">Article title goes here</a>
    </h2>
    <p class="text-gray-700 text-base mb-4">Article excerpt goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor faucibus lectus, non pharetra dolor ultricies et.</p>
  </div>
  <a href="#">
    <div class="flex items-center">
      <img src="https://source.unsplash.com/random" 
           alt="Author" 
           class="w-10 h-10 rounded-full mr-4">
    <div>
  </a>
  <span class="text-gray-900 font-semibold" style="font-family: Bebas Neue;
  text-transform: uppercase;"><a href="#">Author name</a></span>
  <p class="text-gray-700 text-sm">August 23, 2022</p>
    </div>
  </div>
</div>
</div>
