    <!--IMAGE-->
    <div class="slider__item__image is-background">
        <%# <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="website"> %>
    <%= image_tag article.cover_photo %>
        
    </div>
    <!--IMAGE-->

    <!--TEXT-->
    <div class="slider__item__text">
        <span>Michael Tanner</span>
        <h1><%= article.title %></h1>
        
        <p>
            <%= article.excerpt %>
        </p>
        
        <%= link_to "Let's go", article, role: "button" %>
    </div>
    <!--TEXT-->
