<div class="post-content">

      <div class="content-inner">
        
        <a class="entire-meta-link" href="https://garyvaynerchuk.com/3-things-to-do-if-you-dont-like-your-job/" aria-label="3 things to do if you don’t like your job"></a>
        
        <span class="post-featured-img">
            <picture class="attachment-large size-large skip-lazy wp-post-image sp-no-webp" loading="lazy" title="">
                <source srcset="https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-1024x535.webp 1024w,https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-300x157.webp 300w,https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-150x78.webp 150w,https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-768x401.webp 768w,https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4.webp 1200w" sizes="(min-width: 1600px) 20vw, (min-width: 1300px) 25vw, (min-width: 1000px) 33.3vw, (min-width: 690px) 50vw, 100vw" type="image/webp">
                <source srcset="https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-1024x535.png 1024w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-300x157.png 300w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-150x78.png 150w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-768x401.png 768w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4.png 1200w" sizes="(min-width: 1600px) 20vw, (min-width: 1300px) 25vw, (min-width: 1000px) 33.3vw, (min-width: 690px) 50vw, 100vw" type="image/png">
                <img src="https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-1024x535.png" class="sp-no-webp attachment-large size-large skip-lazy wp-post-image sp-no-webp" loading="lazy" title="" alt="" srcset="https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-1024x535.png 1024w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-300x157.png 300w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-150x78.png 150w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4-768x401.png 768w, https://garyvaynerchuk.com/wp-content/uploads/2023/04/Artboard-3-4.png 1200w" sizes="(min-width: 1600px) 20vw, (min-width: 1300px) 25vw, (min-width: 1000px) 33.3vw, (min-width: 690px) 50vw, 100vw" width="1024" height="535">
            </picture>
        </span>
        <span class="meta-category">
            <!-- FIX: acts as taggable goes here for category tags -->
            <!-- <a class="business-leadership" href="https://garyvaynerchuk.com/topics/business-leadership/">Business &amp; Leadership</a>
            <a class="communication" href="https://garyvaynerchuk.com/topics/communication/">Communication</a> -->
            <a href="/tags/blog-article-category-name" >Blog article category name<%#= blog_article.category.name %></a>

            
        </span>        
        <div class="article-content-wrap">
          
          <div class="post-header">
            <h3 class="title">
                <%= link_to blog_article.title, blog_article %>
            </h3>
          </div>
          
            <div class="excerpt">
                <%= blog_article.content.to_plain_text.truncate(90) %>
            </div>
            <div class="grav-wrap">
                <a href="https://garyvaynerchuk.com/author/mckenzie-dawkins/"></a>
                
                <div class="text">
                    <a href="https://garyvaynerchuk.com/author/mckenzie-dawkins/" rel="author">
                        Gary Vaynerchuk
                    </a>
                    <span>April 12, 2023</span>
                </div>
            </div>
        </div><!--article-content-wrap-->
        
      </div><!--/content-inner-->
        
    </div>