<!-- hero section with tags section, title, byline, published_at, and read time -->
<section class="hero bg-blue-200">
    <div class="tags">
        <a href="/tags/tech">Tech</a>
    </div>
    <div class="">
        <h1><%= @blog_article.title %></h1>
    
        <div class="byline">
            <span class="">by</span>
            <a href="#">Michael Tanner</a>
            <span class="date">• <%= @blog_article.reading_time %></span>
        </div>
    </div>
</section>
