<!-- suggested article section -->
<section class="suggested-article bg-slate-700">
    <div class="container">
        <div class="suggested-article-content">
            <h2>Suggested Article</h2>
            <h3><a href="#">How to build a blog with Rails</a></h3>
        </div>
        <!--filler image to the right of the h2 -->
        <div class="suggested-article-image">
            <img src="https://picsum.photos/200/300" alt="">
        </div>
    </div>

</section>